<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("slide1.jpg", class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("slide2.jpg", class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("slide3.jpg", class:"d-block w-100") %>
    </div>
  </div>
  <%= link_to "#carouselExampleControls", class:"carousel-control-prev",
    role:"button", data: {slide: "prev"} do %>
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"><%= t ".previous" %></span>
  <% end %>
  <%= link_to "#carouselExampleControls", class:"carousel-control-next",
    role:"button", data: {slide: "next"} do %>
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"><%= t ".next" %></span>
  <% end %>
</div>
<div class="container-fluid mt-3">
  <h2><%= t ".feature" %></h2>
  <div class="row">
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
  </div>

  <h2><%= t ".series" %></h2>
  <div class="row">
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
  </div>

  <h2><%= t ".new" %></h2>
  <div class="row">
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
  </div>

  <h2><%= t ".hot" %></h2>
  <div class="row">
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
    <div class="col mt-3 mb-5">
      <div class="list-movie">
        <%= image_tag("anh1.jpg", class:"image") %>
        <div class="overlay">
          <a href="#">Robot Đại Chiến 5: Chiến Binh Cuối Cùng</a>
          <p>1 lượt xem </p>
          <p>149 Phút</p>
        </div>
      </div>
    </div>
  </div>
</div>
