<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("slide1.jpg", class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("slide2.jpg", class: "d-block w-100") %>
    </div>
    <div class="carousel-item">
      <%= image_tag("slide3.jpg", class: "d-block w-100") %>
    </div>
  </div>
  <% [[t(".previous"), "carousel-control-prev", "carousel-control-prev-icon", "prev"],
    [t(".next"), "carousel-control-next", "carousel-control-next-icon", "next"]]
    .each do |key1, key2, key3, key4| %>
    <%= link_to "#carouselExampleControls", class: key2,
      role: "button", data: {slide: key4} do %>
      <span class=<%= key3 %> aria-hidden="true"></span>
      <span class="sr-only"><%= key1 %></span>
    <% end %>
  <% end %>
</div>
<div class="container-fluid mt-3">
  <% [[t(".feature"), @index.features], [t(".series"), @index.series],
    [t(".hot"), @index.hots]].each do |key1, key2| %>
    <h2><%= key1 %></h2>
    <div class="row">
      <%= render partial: "movie", collection: key2 %>
    </div>
  <% end %>
</div>
