<h2 class="text-center mt-3">
  <%= t ".forgot_password" %>
</h2>
<div class="container col-md-4 my-3">
  <%= form_for resource, as: resource_name,
    url: password_path(resource_name), html: {method: :post} do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">
      <%= f.label :email, class: "font-weight-bold" %>
      <%= f.email_field :email, autofocus: true,
        autocomplete: "email", class: "form-control",
        placeholder: t(".email_here") %>
    </div>

    <div class="actions">
      <%= f.submit t(".submit"),
        class: "btn btn-success btn-block" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= render "users/shared/links" %>
  </div>
</div>
