<footer>
  <div class="footer">
    <div class="container-fluid">
      <div class="contain">
        <div class="col mt-3">
          <h1><%= t ".new_film" %></h1>
          <ul>
            <li><%= link_to t(".new_feature"), "#" %></li>
            <li><%= link_to t(".new_series"), "#" %></li>
            <li><%= link_to t(".movie_theaters"), "#" %></li>
            <li><%= link_to t(".coming_soon"), "#" %></li>
            <li><%= link_to t(".classic_film"), "#" %></li>
          </ul>
        </div>
        <div class="col mt-3">
          <h1><%= t ".feature_film" %></h1>
          <ul>
            <li><%= link_to t(".action"), "#" %></li>
            <li><%= link_to t(".love"), "#" %></li>
            <li><%= link_to t(".horror"), "#" %></li>
            <li><%= link_to t(".swordplay"), "#" %></li>
            <li><%= link_to t(".cartoon"), "#" %></li>
          </ul>
        </div>
        <div class="col mt-3">
          <h1><%= t ".series" %></h1>
          <ul>
            <li><%= link_to t(".vietnam"), "#" %></li>
            <li><%= link_to t(".korean"), "#" %></li>
            <li><%= link_to t(".taiwan"), "#" %></li>
            <li><%= link_to t(".chinese"), "#" %></li>
            <li><%= link_to t(".american"), "#" %></li>
          </ul>
        </div>
        <div class="col social mt-3">
          <h1><%= t ".social" %></h1>
          <ul>
            <li><img src="https://svgshare.com/i/5fq.svg" width="32" style="width: 32px;"></li>
            <li><img src="https://svgshare.com/i/5eA.svg" width="32" style="width: 32px;"></li>
            <li><img src="https://svgshare.com/i/5f_.svg" width="32" style="width: 32px;"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
